<!DOCTYPE html>
<html lang="ko">
<head>
  <title>GAME SITE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>
<h1>GAME SITE</h1>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="/"><img src="https://c.tenor.com/dpe5--WorkcAAAAC/%EB%AA%A8%EC%BD%94%EC%BD%94.gif" alt="logo" style="width:60px;"></a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">메인</a>
    </li>
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">게임추천</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">RPG</a>
        <a class="dropdown-item" href="#">AOS</a>
        <a class="dropdown-item" href="#">FPS</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/rankgame">인기 게임 순위</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/blog">게임 공략 블로그</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/insert">내가 좋아하는 게임 등록</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/see">추천 게임 목록</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/best">랜덤 게임 추천</a>
    </li>
  </ul>

</nav>
<br>

</body>
</html>